.card {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
  @include mq(l) {
    margin-bottom: 5rem;
  }
  &__container {
    width: 100%;
    @include mq(m) {
      width: 70%;
    }
    @include mq(1900px) {
      width: 100%;
      max-width: 1311px;
    }
    &__img {
      width: 100%;
      @include mq(m) {
        width: 80%;
      }
      @include mq(1900px) {
        width: 100%;
        max-width: 1562px;
      }
    }
  }
  &__container-text {
    width: 100%;
    @include mq(m) {
      width: 80%;
    }
  }
  &__content {
    display: none;
    &.-active {
      display: block;
      padding: 0 9%;
      @include mq(m) {
        padding: 0;
      }
    }
    @include mq(m) {
      padding: 0 8%;
    }
    flex-direction: column;
    &-border {
      color: #686868;
      height: 1px;
      border: none;
      background: #686868;
      margin-top: 30px;
    }
    &-title {
      h2 {
        font-size: var(--fontSizeSubTitle);
        font-family: var(--gothamBold);
        font-weight: 100;
        letter-spacing: 2px;
        @media (max-width: 1700px) {
          font-size: 30px;
        }
      }
      &.--degustacion {
        margin-top: 2.5rem;
      }
    }
    &-row {
      display: flex;
      justify-content: flex-start;
      align-content: center;
      flex-wrap: wrap;
    }
    &__text {
      margin: 0 10px;
      margin-top: 40px;
      @include mq(406px) {
        width: 44%;
      }
      @include mq(m) {
        margin-right: 5%;
        width: 26%;
      }
      img {
        width: 50px;
        float: right;
        @media (max-width: 1700px) {
          float: center;
        }
      }
      &-title {
        font-family: var(--gothamBold);
        font-size: 16px;
        letter-spacing: 1px;
        @include mq(m) {
          font-size: var(--fontSizeParagrap);
        }
        // padding-bottom: 10px;
      }
      &-description {
        font-family: var(--gothamBook);
        font-size: var(--fontSizeParagrap);
        @media (max-width: 1700px) {
          font-size: 16px;
        }
        @media (max-width: 720px) {
          font-size: 14px;
        }
      }
      &-title,
      &-description {
        line-height: 30px;
      }
      &.--degustacion {
        margin-top: 30px;
        width: auto;
      }
    }
    .row {
      display: flex;
      flex-direction: row;
      padding: 0;
    }
    &__slider {
      flex: 3;
    }
    &__slider {
      flex: 3;
    }
    &__column {
      flex: 1;
    }
  }
  &.--degustacion {}
  #snackContentDegustacion,
  #piqueosContentDegustacion,
  #sandwichesContentDegustacion,
  #fondosContentDegustacion,
  #postresContentDegustacion {
    padding: 0;
  }
}