.degustacion {
  &__food {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    @include mq(m) {
      text-align: left;
    }
    .container__one {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      @include mq(l) {
        flex-wrap: nowrap;
      }
    }
    &__slider {
      width: 100%;
      margin-bottom: 40px;
      padding: 0 9%;
      @include mq(m) {
        padding: 0;
      }
      @include mq(l) {
        width: 60%;
        margin-bottom: 0;
      }
    }
    &__description {
      padding-left: 5rem;
      @media (max-width: 1240px) {
        padding-left: 4rem;
      }
      @media (max-width: 1023px) {
        padding-left: 0;
      }
      @media (max-width: 723px) {
        padding-left: 0;
        padding: 0 10%;
        background-image: url("../img/mg-bg-2.png");
        background-repeat: no-repeat;
        background-size: 500px;
        background-position: center right -260px;
      }
      &__title {
        h1 {
          text-align: left;
          width: 72%;
          font-size: var(--fontSizeTitle);
          font-family: var(--bebas);
          @media (max-width: 1700px) {
            font-size: 30px;
          }
        }
        .border-orange {
          margin: 20px 0 50px 0;
          color: var(--secondColor);
          width: 15%;
          height: 2px;
          border: none;
          background: var(--secondColor);
          @media (max-width: 1024px) {
            margin-bottom: 30px
          }
        }
      }
      &__text {
        p {
          font-weight: bold;
          margin-bottom: 15px;
          font-size: var(--fontSizeSubTitle);
          font-family: var(--gothamBold);
          @media (max-width: 1700px) {
            font-size: 30px;
          }
        }
        &__hour {
          font-family: var(--gothamBook);
          span {
            display: block;
            font-size: var(--fontSizeParagrap);
            @media (max-width: 1700px) {
              font-size: 16px;
            }
          }
          .days {
            padding-bottom: 5px;
            font-size: var(--fontSizeParagrap);
            font-weight: bold;
            @media (max-width: 1700px) {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}