.menu-degustacion {
  background-color: #ecebea;
  position: relative;

  &__bg-one {
    position: absolute;
    top: -100px;
    width: 235px;
    height: 235px;
   
    background-image: url('../../img/menu.bg1.png');
    background-repeat: no-repeat;
    background-size: 100%;

    @include mq(s) {
      top: -155px;
      width: 350px;
      height: 350px;
      left: -50px;
    }

    @include mq(m) {
      top: -175px;
      width: 400px;
      height: 400px
    }

    @include mq(l) {
      top: -217px;
      width: 500px;
      height: 500px;
      left: -75px;
    }

    @include mq(xl) {
      width: 542px;
      height: 542px;
      top: -235px;
      left: -80px;
    }

    @include mq(1700px) {
      width: 842px;
      height: 842px;
      top: -370px;
      left: -115px;
    }
  }

  &__bg-two {
    position: absolute;
    top: 2px;
    right: -220px;
    width: 336px;
    height: 336px;
    background-image: url("../../img/mg-bg-2.png");
    background-repeat: no-repeat;
    background-size: 100%;
   

    @include mq(s) {
      top: -49px;
      width: 436px;
      height: 436px;
      right: -300px;
    }

    @include mq(m) {
      top: -53px;
      width: 436px;
      height: 436px;
      right: -315px;
    }

    @include mq(l) {
      top: -70px;
      width: 536px;
      height: 536px;
      right: -395px;
    }

    @include mq(xl) {
      top: -70px;
      width: 536px;
      height: 536px;
      right: -418px;
    }

    @include mq(xl) {
      top: -70px;
      width: 536px;
      height: 536px;
      right: -418px;
    }

    @include mq(1440px) {
      top: -85px;
      width: 650px;
      height: 650px;
      right: -500px;
    }

    @include mq(1700px) {
      right: -540px;
    }


  }

  &__bg-three {
    position: absolute;
    bottom: 0px;
    right: -150px;
    width: 336px;
    height: 260px;
    background-image: url("../../img/mg-bg-three.png");
    background-repeat: no-repeat;
    background-size: 100%;

    @include mq(s) {
      right: -220px;
      width: 500px;
      height: 350px;
    }

    @include mq(m) {
      right: -261px;
      width: 600px;
      height: 410px
    }

    @include mq(l) {
      right: -306px;
      width: 700px;
      height: 470px
    }

    @include mq(xl) {
      right: -454px;
      width: 1027px;
      height: 673px
    }

    @include mq(1700PX) {
      right: -453px;
      width: 1027px;
      height: 703px;
    }

  }
}