$bg-color: #424242;
$hl-color: #2196F3;
$muted-color: mix(white, $bg-color, 70%);
$trans-time: 300ms;
$width: 320px;
.reservation {
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-content: center;
  &__container {
    width: 80%;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  &__form {
    width: 100%;
    margin: 45px auto;
    &__row-flex {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
    &__group {
      position: relative;
      margin: 25px 0;
      width: 100%;
      @include mq(920px) {
        width: auto;
        margin: 45px 0;
      }
      input,
      textarea {
        margin-right: 40px;
        background: none;
        color: $muted-color;
        font-size: 18px;
        padding: 10px 10px 10px 0px;
        display: block;
        width: 100%;
        @include mq(920px) {
          width: 320px;
        }
        border: none;
        border-radius: 0;
        border-bottom: 1px solid $muted-color;
        &:focus {
          outline: none;
        }
        &:focus~label,
        &:valid~label {
          top: -14px;
          font-size: 12px;
          color: $hl-color;
        }
        &:focus~.bar:before {
          width: $width;
        }
      }
      textarea {
        resize: none;
      }
      input[type="password"] {
        letter-spacing: 0.3em;
      }
      label {
        color: $muted-color;
        font-size: 16px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: $trans-time ease all;
      }
      .bar {
        position: relative;
        display: block;
        width: $width;
        &:before {
          content: '';
          height: 2px;
          width: 0;
          bottom: 0px;
          position: absolute;
          background: $hl-color;
          transition: $trans-time ease all;
          left: 0%;
        }
      }
    }
  }
}

$bg-color: #424242;
$hl-color: #2196F3;
$muted-color: mix(white, $bg-color, 70%);
$trans-time: 300ms;
$width: 320px;
.group {
  position: relative;
  margin: 45px 0;
}

.btn-box {
  margin: 50px 0 0 0;
}

.select-text {
  padding-right: 40px;
  position: relative;
  font-family: inherit;
  background-color: transparent;
  width: 100%;
  padding: 10px 10px 10px 0;
  font-size: 18px;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  @include mq(920px) {
    width: 320px;
  }
}


/* Remove focus */

.select-text:focus {
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}


/* Use custom arrow */

.select .select-text {
  appearance: none;
  -webkit-appearance: none
}

.select {
  width: 100%;
  @include mq(920px) {
    width: 320px;
  }
}

.select:after {
  // position: absolute;
  // top: 18px;
  // right: 10px;
  /* Styling the down arrow */
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid rgba(0, 0, 0, 0.12);
  pointer-events: none;
  float: right;
  margin-top: -25px;
}


/* LABEL ======================================= */

.select-label {
  color: rgba(0, 0, 0, 0.26);
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 10px;
  transition: 0.2s ease all;
}


/* active state */

.select-text:focus~.select-label,
.select-text:valid~.select-label {
  color: #2F80ED;
  top: -20px;
  transition: 0.2s ease all;
  font-size: 14px;
}


/* BOTTOM BARS ================================= */

.select-bar {
  position: relative;
  display: block;
  width: 320px;
}

.select-bar:before,
.select-bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #2F80ED;
  transition: 0.2s ease all;
}

.select-bar:before {
  left: 50%;
}

.select-bar:after {
  right: 50%;
}


/* active state */

.select-text:focus~.select-bar:before,
.select-text:focus~.select-bar:after {
  width: 50%;
}


/* HIGHLIGHTER ================================== */

.select-highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.md-radio {
  margin-right: 30px;
}