.banner {
  &__home {
    width: 100%;
    height: 300px;
    margin-top: 153px;
    @include mq(m) {
      height: 100vh;
      margin-top: 0;
    }
    img {
      @include mq(m) {
        height: 100vh;
      }
      width: 100%;
      height: 300px;
    }
    &__logo {
      position: absolute;
      top: 18%;
      left: 50%;
      display: none;
      @include mq(m) {
        top: 30%;
        display: block;
      }
      transform: translate(-50%, -50%);
      img {
        width: 100px;
        @include mq(m) {
          width: 220px;
        }
        height: auto;
      }
    }
    &__btn-play {
      cursor: pointer;
      border: none;
      margin: 0;
      padding: 0;
      width: auto;
      overflow: visible;
      background: transparent;
      /* inherit font & color from ancestor */
      color: inherit;
      font: inherit;
      /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
      line-height: normal;
      /* Corrects font smoothing for webkit */
      -webkit-font-smoothing: inherit;
      -moz-osx-font-smoothing: inherit;
      /* Corrects inability to style clickable `input` types in iOS */
      -webkit-appearance: none;
      position: absolute;
      top: 40%;
      left: 50%;
      @include mq(m) {
        top: 60%;
      }
      transform: translate(-50%, -50%);
      img {
        width: 50px;
        height: auto;
        @include mq(m) {
          width: 120px;
        }
      }
    }
  }
  &__event {
    width: 100%;
    height: 300px;
    display: none;
    @include mq(m) {
      height: 90vh;
      display: block;
    }
    @include mq(1700px) {
      height: 810px
    }
    img {
      @include mq(m) {
        height: 90vh;
      }
      @include mq(1700px) {
        height: 810px
      }
      width: 100%;
      height: 300px;
    }
    &__logo {
      position: absolute;
      top: 18%;
      left: 50%;
      text-align: center;
      @include mq(m) {
        top: 40%;
      }
      transform: translate(-50%, -50%);
      img {
        width: 171px;
        height: 131px;
      }
    }
    h1 {
      margin-top: 2.5rem;
      text-align: center;
      color: var(--white);
      font-size: 30px;
      font-family: var(--gothamBold);
      @media (max-width: 1700px) {
        font-size: 30px;
      }
      @include mq(m) {
        margin-top: 7rem;
        font-size: 87px;
      }
    }
  }
  &__card {
    margin-bottom: 75px;
    @include mq(m) {
      margin-top: 0;
      height: auto;
    }
    &__img {
      height: 180px;
      @include mq(m) {
        height: auto;
      }
      display: none;
      &.-active {
        display: block;
      }
    }
    &__text {
      padding: 0 2%;
      margin-bottom: 2.5rem;
      position: relative;
      background-image: url('../img/menu.bg1.png');
      background-repeat: no-repeat;
      background-size: 500px 500px;
      background-position: center left -350px;
      padding: 0 6%;
      @include mq(m) {
        background: none;
        padding: 0;
      }
      @include mq(l) {
        margin-bottom: 4.5rem;
      }
      @include mq(1440px) {
        padding: 0 9%;
      }
      h1 {
        font-weight: 100;
        letter-spacing: 2px;
        text-align: center;
        color: #987f60;
        margin: 2rem 0;
        font-size: var(--fontSizeTitle);
        font-family: var(--gothamBold);
        @media (max-width: 1700px) {
          font-size: 30px;
        }
      }
      p {
        font-family: var(--gothamBold);
        font-size: var(--fontSizeParagrap);
        // padding-bottom: 10px;
        line-height: 40px;
        @media (max-width: 1700px) {
          font-size: 16px;
        }
        @media (max-width: 720px) {
          text-align: center;
          font-size: 14px;
        }
        b {
          color: #987f60;
        }
      }
    }
  }
}