.logo {
  text-align: center;
  &.-contact,
  &.-card {
    display: none;
    @include mq(m) {
      display: block;
      padding: 100px 0 60px 0;
    }
    @include mq(1700px) {
      padding-top: 130px;
    }
    img {
      width: 150px;
    }
  }
  &.-contact {
    padding-bottom: 95px;
  }
  &.-card {
    padding-bottom: 65px;
  }
}